@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n4.woff2")
      format("woff2"),
    url("https://cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n4.woff")
      format("woff");
}
@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n6.woff2")
      format("woff2"),
    url("https://cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n6.woff")
      format("woff");
}
[class^="orejime-"] {
  border: 0;
  float: none;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  width: auto;
  text-transform: none;
  letter-spacing: normal;
  background: none transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#orejime {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: white;
  line-height: 1.4;
  letter-spacing: normal;
}
#orejime h1,
#orejime h2,
#orejime h3,
#orejime h4,
#orejime h5,
#orejime h6 {
  color: inherit;
}
#orejime h1::before,
#orejime h1::after,
#orejime h2::before,
#orejime h2::after,
#orejime h3::before,
#orejime h3::after,
#orejime h4::before,
#orejime h4::after,
#orejime h5::before,
#orejime h5::after,
#orejime h6::before,
#orejime h6::after {
  content: "";
  display: none;
}
#orejime p {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#orejime ul,
#orejime ol {
  color: inherit;
}
#orejime ul > li,
#orejime ol > li {
  color: inherit;
}
#orejime ul > li::before,
#orejime ul > li::after,
#orejime ul > li::marker,
#orejime ol > li::before,
#orejime ol > li::after,
#orejime ol > li::marker {
  content: "";
  display: none;
}
#orejime form,
#orejime label {
  background: none transparent;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}
#orejime a {
  background: none transparent;
  font-weight: 400;
  color: white;
  text-decoration: underline;
}
#orejime a::before,
#orejime a::after {
  content: "";
  display: none;
}
#orejime a:focus {
  outline: 1px dotted currentColor;
}
#orejime a:visited {
  color: #8dbfdc;
}
#orejime a:hover {
  background: none transparent;
  color: #8dbfdc;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
#orejime .orejime-Button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c6d5de;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
  font-weight: 400;
  color: #000;
  line-height: 1.25;
  text-transform: none;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
}
#orejime .orejime-Button::before,
#orejime .orejime-Button::after {
  content: "";
  display: none;
}
#orejime .orejime-Button:active,
#orejime .orejime-Button:visited,
#orejime .orejime-Button:focus {
  border: 1px solid black;
  background-color: #c6d5de;
  color: #000;
  text-decoration: none;
}
#orejime .orejime-Button:active {
  top: 1px;
}
#orejime .orejime-Button:focus {
  outline: 2px dotted white;
}
#orejime .orejime-Button:hover {
  border: 1px solid black;
  background-color: #8dbfdc;
  color: #222;
  text-decoration: none;
}
#orejime .orejime-Button--decline,
#orejime .orejime-Button--info {
  color: #000;
}
#orejime .orejime-Button[disabled] {
  opacity: 0.75;
}
.orejime-Modal {
  position: relative;
  background-color: #222;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
    5px 5px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
  line-height: 1.4;
  width: 90%;
  margin: 10px auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.orejime-Notice {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 300px;
  z-index: 11000;
  background: #222;
  -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.orejime-Notice--mandatory {
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  position: absolute;
  right: 0;
}
.orejime-Notice--hidden {
  display: none !important;
}
.orejime-Notice-body {
  padding: 30px 20px;
}
.orejime-Notice-logo {
  max-width: 200px;
}
.orejime-Notice-title {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 5px;
}
.orejime-Notice-description {
  margin-bottom: 15px;
}
.orejime-Notice-purposes {
  color: #fff;
}
.orejime-Notice-changes {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: none;
}
.orejime-Notice-actions {
  list-style: none;
}
.orejime-Notice-actions .orejime-Notice-actionItem::marker {
  content: "";
}
.orejime-Notice-privacyPolicyLink {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
.orejime-Notice-privacyPolicyLink:hover {
  color: inherit;
  text-decoration: none;
}
.orejime-Notice-privacyPolicyLink:focus {
  text-decoration: none;
}
.orejime-Notice-learnMoreButton {
  display: inline-block;
}
.orejimeHtml-WithModalOpen {
  height: 100%;
}
.orejimeHtml-WithModalOpen body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.orejime-ModalOverlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50000;
}
.orejime-NoticeOverlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.orejime-ModalWrapper {
  left: 50%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 640px;
  z-index: 1001;
}
.orejime-Modal-header {
  border-bottom: 1px solid #707070;
  padding: 30px 0;
}
.orejime-Modal-title {
  display: block;
  margin: 0 0 1em;
  padding: 0 20px 0 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: inherit;
  line-height: 1.15;
  text-transform: none;
  letter-spacing: normal;
  text-decoration: none;
}
.orejime-Modal-closeButton {
  position: absolute;
  right: 10px;
  top: 7.5px;
  z-index: 10;
  padding: 10px;
  background: none;
  border: 0 none;
  border-radius: 4px;
  color: inherit;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  cursor: pointer;
}
.orejime-Modal-closeButton::before,
.orejime-Modal-closeButton::after {
  content: "";
  display: none;
}
.orejime-Modal-closeButton:focus {
  outline: 1px dotted white;
}
.orejime-Modal-closeButton:hover {
  background-color: white;
  color: #222;
}
.orejime-CloseIcon {
  stroke: currentColor;
  width: 12px;
}
.orejime-Modal-body {
  padding: 30px 0;
}
.orejime-Modal-footer {
  border-top: 1px solid #707070;
  padding: 30px 0;
}
.orejime-Modal-privacyPolicyLink {
  cursor: pointer;
  text-decoration: none;
}
.orejime-AppList {
  display: block;
  margin: 0;
  padding: 0;
}
.orejime-AppList-item {
  display: block;
  line-height: 1.25;
  margin-top: 30px;
  min-height: 40px;
  padding-left: 80px;
  position: relative;
  vertical-align: middle;
}
.orejime-AppList-item:first-child {
  margin-top: 0;
}
.orejime-AppItem-title {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.orejime-AppItem-description {
  font-size: inherit;
}
.orejime-AppItem-purposes {
  font-size: 13px;
  display: none;
}
.orejime-AppItem-optOut {
  font-size: inherit;
  padding-left: 4px;
}
.orejime-AppItem-required {
  color: #ff7d7d;
  font-size: inherit;
  padding-left: 4px;
}
.orejime-AppItem-label {
  display: block;
  margin: 0 0 5px;
  font-weight: 400;
  color: inherit;
  line-height: 1.25;
}
.orejime-AppItem > .orejime-AppItem-label {
  position: unset;
}
.orejime-AppItem-fullDescription {
  line-height: 1.4;
}
.orejime-AppItem-switchLabel {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 55px;
}
.orejime-AppItem-slider {
  -webkit-transition: backgound-color 0.4s;
  transition: backgound-color 0.4s;
  background-color: #a7a3a3;
  border-radius: 30px;
  border: 2px solid transparent;
  bottom: 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
    5px 5px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.orejime-AppItem-slider::before {
  -webkit-transition: 0.4s;
  background-color: #488226;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  bottom: 3px;
  content: "";
  height: 20px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}
.orejime-AppItem-switch--disabled .orejime-AppItem-slider {
  cursor: default;
  opacity: 0.5;
}
.orejime-AppItem-switch--disabled .orejime-AppItem-switchLabel {
  color: #8aa9b2;
}
.orejime-AppItem-input {
  height: 30px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.orejime-AppItem-input:disabled {
  background: none transparent;
}
.orejime-AppItem-input:focus + .orejime-AppItem-label .orejime-AppItem-slider {
  border-color: #fff;
  outline-offset: 2px;
  outline: 2px dotted #d0ecc0;
}
.orejime-AppItem-input:checked
  + .orejime-AppItem-label
  .orejime-AppItem-slider {
  background-color: white;
}
.orejime-AppItem-input:checked
  + .orejime-AppItem-label
  .orejime-AppItem-slider::before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.orejime-AppItem-switch {
  display: inline-block;
  height: 30px;
  left: 0;
  top: 5px;
  position: absolute;
  width: 50px;
}
.orejime-AppToggles {
  display: none;
  margin-bottom: 10px;
}
.orejime-AppToggles-item {
  display: inline;
}
.orejime-Notice-actionItem {
  text-align: center;
  margin: 15px 0;
}
.orejime-Notice-actionItem:last-of-type {
  margin-bottom: 0;
}
.orejime-Modal-poweredByLink {
  display: none;
}
@media (min-width: 984px) {
  #orejime {
    font-size: 16px;
  }
  .orejime-Notice-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 40px;
  }
  .orejime-Notice-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .orejime-Notice-actions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    display: block;
  }
  .orejime-Notice-actionItem {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .orejime-Notice-actionItem:last-of-type {
    margin-right: 0;
  }
  .orejime-Notice-description {
    margin: 0;
    padding: 0 20px 0 0;
  }
  .orejime-Notice {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
      5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
      5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 33px;
    right: 20px;
    top: auto;
    bottom: 60px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 1024px;
  }
  .orejime-ModalWrapper {
    width: 70%;
    max-width: 1170px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .orejime-Modal {
    width: 100%;
    padding: 15px 40px 0;
  }
  .orejime-Modal-header,
  .orejime-Modal-body,
  .orejime-Modal-footer {
    padding: 30px 0;
  }
  .orejime-Modal-title {
    font-size: 24px;
  }
  .orejime-Modal-closeButton,
  .orejime-Modal-closeButton:active {
    right: 20px;
    top: 30px;
  }
  .orejime-AppList-item:nth-child(n + 2) {
    margin-top: 30px;
  }
  .orejime-AppItem-title {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map*/
